
.todos {
    border: 1px solid #707070;
    background-color: transparent;
    color: #343434;
}

nav a {
    border: 1px solid #707070;
    padding: 10px 30px;
    margin: 16px 0.4%;
    text-decoration: none;
    color: #343434;
}
.azul {
    color: #343434;
    background-color: transparent;
}

    .azul:hover {
        padding: 10px 30px;
        border: 1px solid #707070;
        background-color: #0059c3;
        color: white;
        transition: 0.4s ease-in-out;
    }
    .azul-ativo {
        background-color: #0059c3; 
        color: white !important; 
    }
.laranja {
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid #707070;
    background-color: transparent;
    color: #343434;
}

    .laranja:hover {
        background-color: #FC7F23;
        transition: 0.4s ease-in-out;
        color: white;
    }
    .laranja-ativo {
        background-color: #FC7F23;
        color: white !important;
    }

    .todos:hover {
        background-color: mediumpurple;
        color: white;
        transition: 0.4s ease-in-out;
    }

.cartas-container {
    /* background-color: black; */
    width: 100%;
    min-height: 100%; /* CSS-Tricks macete para o footer ficar empurrado lá em baixo */
    margin-bottom: 0 auto -16px; /* CSS-Tricks macete para o footer ficar empurrado lá em baixo */
    font-size: 1.2em;
}

.cartas {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px 0;
}

.cartas-img {
    width: 500px;
    height: 500px;
    border-radius: 16px;
    box-shadow: 4px 4px 16px 8px #000000;
    margin: 8px auto;
}


.cartas img:hover {
    opacity: 0.98;
    transform: scale(1.02);
    transition: all 0.2s ease-in, all 0.2s ease-out;
}

.cartas p {
    width: 300px;
}

.cartas h2 {
    font-weight: bolder;
}

.cartas a {
    margin-top: 50px;
    padding: 10px;
    font-weight: bolder;
    text-decoration-line: underline;
    transition: font-weight, text-decoration-style 1s ease-in-out;
}

    .cartas a:hover {
        transition: font-weight, text-decoration-style 1s ease-in-out;
        font-weight: lighter;
        text-decoration-line: overline;
    }
