/* 
  Trecho para zerar alguns estilos nativos de navegadores diversos  ]
  Também inclui estilos padrões para o projeto
*/
* {
  box-sizing: border-box;
  color: #ddd;
  text-decoration: none;
}

html, body {
  background-color: #252525;
  margin: 0 auto; /* Centraliza na horizontal */
  height: 100%;
  font: 16px Courier; /* Permite que daqui em diante use a medida rem */
  line-height: 1.5;
}
.topo {
  /* background-color: red; */
  text-align: center;
  padding: 16px;
  font-size: 1em;
}
.topo img {
  /* background-color: orange; */
  width: 244px;
  height: 244px;
  margin: 0 auto;
}

.cartas-container {
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* padding: 32px; */
  min-height: 100%; /* CSS-Tricks macete para o footer ficar empurrado lá em baixo */
  margin-bottom: 0 auto -16px; /* CSS-Tricks macete para o footer ficar empurrado lá em baixo */
  font-size: 1.2em;
}

.cartas-index {
  min-width: 244px;
  max-width: 576px;
  margin-right: 24px;
}

.cartas {
  padding: 16px;
  min-width: 244px;
  /* Mostra em grid as cartinhas */
  display: grid;
  grid-template-columns: 500px 500px; /*faz com que cada coluna fique com 500px, igual o tamanho da imagem*/
  column-gap: 32px;
  row-gap: 40px;
}

.cartas-img {
  width: 500px; /*Setar um valor fixo das cartas é uma boa pratica https://www.onely.com/blog/cumulative-layout-shift/*/
  height: 500px;
  border-radius: 16px;
  box-shadow: 4px 4px 16px 8px #000000;
}
.cartas p {
  width: 500px;
}
.cartas h2 {
  font-weight: bolder;
}
.cartas a {
  font-weight: bolder;
  text-decoration: red;
  text-decoration-line: underline;
  transition: font-weight, text-decoration-style 2s ease-in-out;
}
.cartas a:hover {
  transition: font-weight, text-decoration-style 1s ease-in-out;
  font-weight: lighter;
  text-decoration-line: overline;
}

/* 
  Para manter o footer agarrado no fundo
  independente do tamanho do conteúdo do .cartas-container */
  footer, .push {
    height: 16px;
    text-align: center;
  }


@media (max-width: 1200px) {
  .cartas-index {
    margin-bottom: 24px;
    margin-right: 0px;
  }

  /* Quando a tela ficar menor que 1200px, mostra apenas uma coluna das cartas, p melhor visualizacao no celular/tablets */ 
  .cartas {
    grid-template-columns: auto;
    column-gap: initial;
  }

  .cartas-img {
    width: 360px;
    height: 360px;
  }

  .cartas h2 {
    font-weight: bolder;
  }
  .cartas p {
    max-width: 100%;
  }
  .cartas a {
    font-weight: bolder;
    text-decoration: red;
    text-decoration-line: underline;
  }
  
}